doctype html
html
  head
    title Hussain Dance Academy
    block scripts
    block style 
    
  body
    nav#navbar 
        ul
            div#logo 
                img(src="/static/img/Logo.png", alt="LOGO")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copyright © 2022 www.HussainDanceWebsite.com | All Rights Reserved